@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "QuranFont";
    src: url("/src/assets/fonts/QuranFont.woff");
  }
  @font-face {
    font-family: "IranYekan";
    src: url("/src/assets/fonts/iranyekanregular.woff");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "IranYekan";
    src: url("/src/assets/fonts/iranyekanweblight.woff");
    font-weight: 300;
    font-style: light;
  }
  @font-face {
    font-family: "IranYekan";
    src: url("/src/assets/fonts/iranyekanwebbold.woff");
    font-weight: 700;
    font-style: bold;
  }
  #root {
    isolation: isolate;
  }

  html,
  body,
  #root {
    height: 100%;
    font-family: "QuranFont";
  }

  body {
    background-color: #e8ddcb;
  }

  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #397524 #dfe9eb;
  }

  /* Chrome, Edge and Safari */
  *::-webkit-scrollbar {
    height: 4px;
    width: 4px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 20px;
    background-color: #dfe9eb;
  }

  *::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #aaa5a5;
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: #80a374;
  }
}
